USE ADRRBR01

CREATE TABLE    dbo.GRF_Filiais(
	pk_filial         int          identity primary key NOT NULL,
	codigo            int          NOT NULL,
	nome              varchar(30)  NOT NULL,
	descricao         varchar(max) NULL
)
create unique index IND_GRF_Filiais_1 ON GRF_Filiais(codigo)

CREATE TABLE    dbo.GRF_Aprovacao_Tipos(
	pk_aprovacao_tipo int          identity primary key NOT NULL,
	codigo            int          NOT NULL,
	nome              varchar(30)  NOT NULL,
	descricao         varchar(max) NULL
)
create unique index IND_GRF_Aprovacao_Tipos_1 ON GRF_Aprovacao_Tipos(codigo)

CREATE TABLE    dbo.GRF_Avaliacao_Tipos(
	pk_avaliacao_tipo int           identity primary key NOT NULL,
	codigo            int           NOT NULL,
	nome              varchar (30)  NOT NULL,
	descricao         varchar (max) NULL
)
create unique index IND_GRF_Avaliacao_Tipos_1 ON GRF_Avaliacao_Tipos(codigo)

CREATE TABLE    dbo.GRF_Interrupcao_Tipos(
	pk_interrupcao_tipo       int           identity primary key NOT NULL,
	codigo                    int           NOT NULL,
	nome                      varchar(30)   NOT NULL,
	descricao                 varchar(max)  NULL
) 
create unique index IND_GRF_Interrupcao_Tipos_1 ON GRF_Interrupcao_Tipos(codigo)

CREATE TABLE    dbo.GRF_Clientes(
	pk_cliente        int           identity primary key NOT NULL,
	Codigo            varchar(60)   NOT NULL,
	nome              varchar(150)  NOT NULL,
	nome_completo     varchar(250)  NULL
) 
create unique index IND_GRF_Clientes_1 ON GRF_Clientes(codigo)
create unique index IND_GRF_Clientes_2 ON GRF_Clientes(nome)

CREATE TABLE    dbo.GRF_Representantes(
	pk_representante   int           identity primary key NOT NULL,
	codigo             varchar(60)   NOT NULL,
	nome               varchar(150)  NOT NULL,
	nome_completo      varchar(250)  NULL
) 
create unique index IND_GRF_Representantes_1 ON GRF_Representantes(codigo)
create unique index IND_GRF_Representantes_2 ON GRF_Representantes(nome)

CREATE TABLE    dbo.GRF_Produtos(
	pk_produto         int           identity primary key NOT NULL,
	codigo             varchar(60)   NOT NULL,
	nome               varchar(500)  NOT NULL,
	descricao          varchar(max)  NULL, 
	caminho_foto       varchar(max)  NULL 
) 
create unique index IND_GRF_Produtos_1 ON GRF_Produtos(codigo)
create unique index IND_GRF_Produtos_2 ON GRF_Produtos(nome)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Status_Tipos(
	pk_trabalho_fase_status_tipo  int            identity primary key NOT NULL,
	codigo                        int            NOT NULL,
	nome                          varchar(50)    NOT NULL,
	tipo_acao                     varchar(20)    NOT NULL,  
	descricao                     varchar(max)   NULL,
	acao_operador                 tinyint        NOT NULL,
	interrompe_lead_time          tinyint        NOT NULL
)
create unique index IND_GRF_Trabalhos_Fases_Status_Tipos_1 ON GRF_Trabalhos_Fases_Status_Tipos(codigo)

CREATE TABLE    dbo.GRF_Trabalhos_Tipos(
	pk_trabalho_tipo   int           identity primary key NOT NULL,
	codigo             int           NOT NULL,
	nome               varchar(50)   NOT NULL,
	descricao          varchar(max)  NULL 
) 
create unique index IND_GRF_Trabalhos_Tipos_1 ON GRF_Trabalhos_Tipos(codigo)

CREATE TABLE    dbo.GRF_Trabalhos(
	pk_trabalho             int          identity primary key                              NOT NULL,
	fk_trabalho_alt_seq     int          references GRF_Trabalhos(pk_trabalho)             NULL,
	fk_trabalho_tipo        int          references GRF_Trabalhos_Tipos(pk_Trabalho_Tipo)  NOT NULL,
	fk_produto              int          references GRF_Produtos(pk_produto)               NOT NULL,
	fk_cliente              int          references GRF_Clientes(pk_cliente)               NOT NULL,
	fk_representante        int          references GRF_Representantes(pk_Representante)   NOT NULL,
	fk_aprovacao_tipo       int          references GRF_Aprovacao_Tipos(pk_aprovacao_Tipo) NOT NULL,  
	fk_filial               int          references GRF_Filiais(pk_filial)                 NOT NULL,        
	num_pedido              varchar(60)  NOT NULL,
	num_pedido_antigo       varchar(60)  NOT NULL, 
	num_pedido_novo         varchar(60)  NOT NULL, 
	lead_time_programado    varchar(6)   NOT NULL,
	dt_inclusao             datetime     NOT NULL,
	dt_alteracao            datetime     NULL,
	dt_exclusao             datetime     NULL
) 
create unique index IND_GRF_Trabalhos_1 ON GRF_Trabalhos(num_pedido,fk_trabalho_alt_seq)
create unique index IND_GRF_Trabalhos_2 ON GRF_Trabalhos(num_pedido_novo,fk_trabalho_alt_seq)

CREATE TABLE    dbo.GRF_Fases(
	pk_fase                 int           identity primary key NOT NULL,
	codigo                  int                                NOT NULL,
	nome                    varchar(100)                       NOT NULL,
	descricao               varchar(max)                       NULL,
	lead_time_perc_definido float                              NULL
) 
create unique index IND_GRF_Fases_1 ON GRF_Fases(codigo)
create unique index IND_GRF_Fases_2 ON GRF_Fases(nome)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Manut1(
	pk_trabalho_fase_manut1          int          identity primary key                                           NOT NULL,
	fk_trabalho_fase_manut1_alt_seq  int          references GRF_Trabalhos_Fases_Manut1(pk_trabalho_fase_manut1) NULL,
	fk_trabalho                      int          references GRF_Trabalhos(pk_trabalho)                          NOT NULL,
	fk_fase                          int          references GRF_Fases(pk_fase)                                  NOT NULL,
	fk_operador                      int          references APL_Usuarios(pk_usuario)                            NOT NULL,
	cores_alteradas                  int          NULL,
	circ_cilindro                    int          NULL,
	observacoes                      varchar(max) NULL,
	dt_inclusao                      datetime     NOT NULL,
	dt_alteracao                     datetime     NULL
) 
create unique index IND_GRF_Trabalhos_Fases_Manut1_1 ON GRF_Trabalhos_Fases_Manut1(fk_trabalho,fk_fase,fk_trabalho_fase_manut1_alt_seq)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Manut2(
	pk_trabalho_fase_manut2          int          identity primary key                                           NOT NULL,
	fk_trabalho_fase_manut2_alt_seq  int          references GRF_Trabalhos_Fases_Manut2(pk_trabalho_fase_manut2) NULL,
	fk_trabalho                      int          references GRF_Trabalhos(pk_trabalho)                          NOT NULL,
	fk_fase                          int          references GRF_Fases(pk_fase)                                  NOT NULL,
	fk_operador                      int          references APL_Usuarios(pk_usuario)                            NOT NULL,
	observacoes                      varchar(max) NULL,
	dt_inclusao                      datetime     NOT NULL,
	dt_alteracao                     datetime     NULL
) 
create unique index IND_GRF_Trabalhos_Fases_Manut2_1 ON GRF_Trabalhos_Fases_Manut2(fk_trabalho,fk_fase,fk_trabalho_fase_manut2_alt_seq)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Manut3(
	pk_trabalho_fase_manut3          int          identity primary key                                           NOT NULL,
	fk_trabalho_fase_manut3_alt_seq  int          references GRF_Trabalhos_Fases_Manut3(pk_trabalho_fase_manut3) NULL,
	fk_trabalho                      int          references GRF_Trabalhos(pk_trabalho)                          NOT NULL,
	fk_fase                          int          references GRF_Fases(pk_fase)                                  NOT NULL,
	fk_operador                      int          references APL_Usuarios(pk_usuario)                            NOT NULL,
	observacoes                      varchar(max) NULL,
	dt_inclusao                      datetime     NOT NULL,
	dt_alteracao                     datetime     NULL
) 
create unique index IND_GRF_Trabalhos_Fases_Manut3_1 ON GRF_Trabalhos_Fases_Manut3(fk_trabalho,fk_fase,fk_trabalho_fase_manut3_alt_seq)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Manut4(
	pk_trabalho_fase_manut4          int          identity primary key                                           NOT NULL,
	fk_trabalho_fase_manut4_alt_seq  int          references GRF_Trabalhos_Fases_Manut4(pk_trabalho_fase_manut4) NULL,
	fk_trabalho                      int          references GRF_Trabalhos(pk_trabalho)                          NOT NULL,
	fk_fase                          int          references GRF_Fases(pk_fase)                                  NOT NULL,
	fk_operador                      int          references APL_Usuarios(pk_usuario)                            NOT NULL,
	observacoes                      varchar(max) NULL,
	dt_inclusao                      datetime     NOT NULL,
	dt_alteracao                     datetime     NULL
) 
create unique index IND_GRF_Trabalhos_Fases_Manut4_1 ON GRF_Trabalhos_Fases_Manut4(fk_trabalho,fk_fase,fk_trabalho_fase_manut4_alt_seq)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Manut5(
	pk_trabalho_fase_manut5          int          identity primary key                                           NOT NULL,
	fk_trabalho_fase_manut5_alt_seq  int          references GRF_Trabalhos_Fases_Manut5(pk_trabalho_fase_manut5) NULL,
	fk_trabalho                      int          references GRF_Trabalhos(pk_trabalho)                          NOT NULL,
	fk_fase                          int          references GRF_Fases(pk_fase)                                  NOT NULL,
	fk_operador                      int          references APL_Usuarios(pk_usuario)                            NOT NULL,
	observacoes                      varchar(max) NULL,
	dt_inclusao                      datetime     NOT NULL,
	dt_alteracao                     datetime     NULL
) 
create unique index IND_GRF_Trabalhos_Fases_Manut5_1 ON GRF_Trabalhos_Fases_Manut5(fk_trabalho,fk_fase,fk_trabalho_fase_manut5_alt_seq)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Manut6(
	pk_trabalho_fase_manut6          int          identity primary key                                           NOT NULL,
	fk_trabalho_fase_manut6_alt_seq  int          references GRF_Trabalhos_Fases_Manut6(pk_trabalho_fase_manut6) NULL,
	fk_trabalho                      int          references GRF_Trabalhos(pk_trabalho)                          NOT NULL,
	fk_fase                          int          references GRF_Fases(pk_fase)                                  NOT NULL,
	fk_operador                      int          references APL_Usuarios(pk_usuario)                            NOT NULL,
	observacoes                      varchar(max) NULL,
	dt_inclusao                      datetime     NOT NULL,
	dt_alteracao                     datetime     NULL
) 
create unique index IND_GRF_GRF_Trabalhos_Fases_Manut6_1 ON GRF_Trabalhos_Fases_Manut6(fk_trabalho,fk_fase,fk_trabalho_fase_manut6_alt_seq)

CREATE TABLE dbo.GRF_Trabalhos_Fases_Manut7(
	pk_trabalho_fase_manut7          int          identity primary key                                           NOT NULL,
	fk_trabalho_fase_manut7_alt_seq  int          references GRF_Trabalhos_Fases_Manut7(pk_trabalho_fase_manut7) NULL,
	fk_trabalho                      int          references GRF_Trabalhos(pk_trabalho)                          NOT NULL,
	fk_fase                          int          references GRF_Fases(pk_fase)                                  NOT NULL,
	fk_operador                      int          references APL_Usuarios(pk_usuario)                            NOT NULL,
	observacoes                      varchar(max) NULL,
	dt_inclusao                      datetime     NOT NULL,
	dt_alteracao                     datetime     NULL
) 
create unique index IND_GRF_Trabalhos_Fases_Manut7_1 ON GRF_Trabalhos_Fases_Manut7(fk_trabalho,fk_fase,fk_trabalho_fase_manut7_alt_seq)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Manut8(
	pk_trabalho_fase_manut8          int          identity primary key                                           NOT NULL,
	fk_trabalho_fase_manut8_alt_seq  int          references GRF_Trabalhos_Fases_Manut8(pk_trabalho_fase_manut8) NULL,
	fk_trabalho                      int          references GRF_Trabalhos(pk_trabalho)                          NOT NULL,
	fk_fase                          int          references GRF_Fases(pk_fase)                                  NOT NULL,
	fk_operador                      int          references APL_Usuarios(pk_usuario)                            NOT NULL,
	observacoes                      varchar(max) NULL,
	dt_inclusao                      datetime     NOT NULL,
	dt_alteracao                     datetime      NULL
) 
create unique index IND_GRF_Trabalhos_Fases_Manut8_1 ON GRF_Trabalhos_Fases_Manut8(fk_trabalho,fk_fase,fk_trabalho_fase_manut8_alt_seq)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Manut9(
	pk_trabalho_fase_manut9          int          identity primary key                                           NOT NULL,
	fk_trabalho_fase_manut9_alt_seq  int          references GRF_Trabalhos_Fases_Manut9(pk_trabalho_fase_manut9) NULL,
	fk_trabalho                      int          references GRF_Trabalhos(pk_trabalho)                          NOT NULL,
	fk_fase                          int          references GRF_Fases(pk_fase)                                  NOT NULL,
	fk_operador                      int          references APL_Usuarios(pk_usuario)                            NOT NULL,
	fk_avaliacao_tipo                int          references GRF_Avaliacao_Tipos(pk_avaliacao_Tipo)              NULL,  
	dt_avaliacao                     datetime     NULL,
	dt_envio_cliente                 datetime     NULL,
	dt_envio_padroes_CQ              datetime     NULL,
	observacoes                      varchar(max) NULL, 
    dt_inclusao                      datetime     NOT NULL,
	dt_alteracao                     datetime     NULL
) 
create unique index IND_GRF_Trabalhos_Fases_Manut9_1 ON GRF_Trabalhos_Fases_Manut9(fk_trabalho,fk_fase,fk_trabalho_fase_manut9_alt_seq)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Manut10(
	pk_trabalho_fase_manut10          int          identity primary key                                             NOT NULL,
	fk_trabalho_fase_manut10_alt_seq  int          references GRF_Trabalhos_Fases_Manut10(pk_trabalho_fase_manut10) NULL,
	fk_trabalho                       int          references GRF_Trabalhos(pk_trabalho)                            NOT NULL,
	fk_fase                           int          references GRF_Fases(pk_fase)                                    NOT NULL,
	fk_operador                       int          references APL_Usuarios(pk_usuario)                              NOT NULL,
	total_cores                       int          NULL,
	observacoes                       varchar(max) NULL,
	dt_inclusao                       datetime     NOT NULL,
	dt_alteracao                      datetime     NULL
) 
create unique index IND_GRF_GRF_Trabalhos_Fases_Manut10_1 ON GRF_Trabalhos_Fases_Manut10(fk_trabalho,fk_fase,fk_trabalho_fase_manut10_alt_seq)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Manut11(
	pk_trabalho_fase_manut11          int          identity primary key                                             NOT NULL,
	fk_trabalho_fase_manut11_alt_seq  int          references GRF_Trabalhos_Fases_Manut11(pk_trabalho_fase_manut11) NULL,
	fk_trabalho                       int          references GRF_Trabalhos(pk_trabalho)                            NOT NULL,
	fk_fase                           int          references GRF_Fases(pk_fase)                                    NOT NULL,
	fk_operador                       int          references APL_Usuarios(pk_usuario)                              NOT NULL,
	observacoes                       varchar(max) NULL,
	dt_inclusao                       datetime     NOT NULL,
	dt_alteracao                      datetime     NULL
) 
create unique index IND_GRF_Trabalhos_Fases_Manut11_1 ON GRF_Trabalhos_Fases_Manut11(fk_trabalho,fk_fase,fk_trabalho_fase_manut11_alt_seq)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Manut12(
	pk_trabalho_fase_manut12          int          identity primary key                                             NOT NULL,
	fk_trabalho_fase_manut12_alt_seq  int          references GRF_Trabalhos_Fases_Manut12(pk_trabalho_fase_manut12) NULL,
	fk_trabalho                       int          references GRF_Trabalhos(pk_trabalho)                            NOT NULL,
	fk_fase                           int          references GRF_Fases(pk_fase)                                    NOT NULL,
	fk_operador                       int          references APL_Usuarios(pk_usuario)                              NOT NULL,
	fk_avaliacao_tipo                 int          references GRF_Avaliacao_Tipos(pk_avaliacao_Tipo)                NULL,  
	dt_avaliacao                      datetime     NULL,
	dt_receb_rolinho                  datetime     NULL,
	dt_envio_laminacao                datetime     NULL,
	dt_receb_laminacao                datetime     NULL,
	dt_envio_padroes_cliente          datetime     NULL,
	dt_envio_padroes_CQ               datetime     NULL,
	observacoes                       varchar(max) NULL,
	dt_inclusao                       datetime     NOT NULL,
	dt_alteracao                      datetime     NULL
) 
create unique index IND_GRF_Trabalhos_Fases_Manut12_1 ON GRF_Trabalhos_Fases_Manut12(fk_trabalho,fk_fase,fk_trabalho_fase_manut12_alt_seq)

CREATE TABLE    dbo.GRF_Trabalhos_Fases_Manut_Generico(
	pk_trabalho_fase_manut_gen         int          identity primary key                                                      NOT NULL,
	fk_trabalho_fase_manut_gen_alt_seq int          references GRF_Trabalhos_Fases_Manut_Generico(pk_trabalho_fase_manut_gen) NULL,
	fk_trabalho                        int          references GRF_Trabalhos(pk_trabalho)                                     NOT NULL,
	fk_fase                            int          references GRF_Fases(pk_fase)                                             NOT NULL,
	fk_operador                        int          references APL_Usuarios(pk_usuario)                                       NOT NULL,
	dt_liberacao_gravacao              datetime     NULL,
	dt_inclusao                        datetime     NOT NULL,
	dt_alteracao                       datetime     NULL
) 
create unique index IND_GRF_Trabalhos_Fases_Manut_Generico_1 ON GRF_Trabalhos_Fases_Manut_Generico(fk_trabalho,fk_fase,fk_trabalho_fase_manut_gen_alt_seq)

--*************
-- Históricos
--*************
CREATE TABLE    dbo.GRF_Trabalhos_Fases_Acao_Simultanea( 
	pk_trabalho_fase_acao_simu        int          identity primary key                                                      NOT NULL,
	fk_trabalho                       int          references GRF_Trabalhos(pk_trabalho)                                     NOT NULL,
	fk_fase                           int          references GRF_Fases(pk_Fase)                                             NOT NULL,
	fk_operador_acao_simu             int          references APL_Usuarios(pk_usuario)                                       NOT NULL,                  
	fk_operador                       int          references APL_Usuarios(pk_usuario)                                       NOT NULL,
	observacoes                       varchar(max) NULL,
	dt_inclusao                       datetime     NOT NULL,
	dt_liberacao_acao_simu            datetime     NULL
)
--create unique index IND_GRF_Trabalhos_Fases_Acao_Simultanea_1 ON GRF_Trabalhos_Fases_Acao_Simultanea(fk_trabalho,fk_fase,fk_operador_acao_simu)

-- Esta tabela posiciona a fase de forma manual ou automática. A verificação da fase atual do trabalho é feita através da < dt_inclusao > mais atual.
CREATE TABLE    dbo.GRF_Trabalhos_Fases_Status( 
	pk_trabalho_fase_status           int          identity primary key                                                      NOT NULL,
	fk_trabalho                       int          references GRF_Trabalhos(pk_trabalho)                                     NOT NULL,
	fk_fase                           int          references GRF_Fases(pk_Fase)                                             NOT NULL,
	fk_trabalho_fase_status_tipo      int          references GRF_Trabalhos_Fases_Status_Tipos(pk_Trabalho_Fase_Status_Tipo) NOT NULL,
	fk_operador                       int          references APL_Usuarios(pk_usuario)                                       NULL,
	obs_status                        varchar(max) NULL,
	dt_inclusao                       datetime     NOT NULL
)
create unique index IND_GRF_Trabalhos_Fases_Status_1 ON GRF_Trabalhos_Fases_Status(fk_trabalho,fk_fase,fk_trabalho_fase_status_tipo,dt_inclusao)
--*************

--*******************************************************************************************************************************************************************************

--***********************
-- Dados Tabelas Básicas
--***********************

--***** GRF_Fases
insert into GRF_Fases(codigo,nome,descricao,lead_time_perc_definido)
values(1,'RECEPÇÃO','',4.41)

insert into GRF_Fases(codigo,nome,descricao,lead_time_perc_definido)
values(2,'ARTE','',2.21)

insert into GRF_Fases(codigo,nome,descricao,lead_time_perc_definido)
values(3,'REVISÃO DA ARTE','',2.21)










select * from GRF_Fases order by codigo

--***** GRF_Filiais
insert into GRF_Filiais(codigo,nome,descricao)
values(1,'Matriz','')

insert into GRF_Filiais(codigo,nome,descricao)
values(2,'Laminados','')

insert into GRF_Filiais(codigo,nome,descricao)
values(3,'Cumbica','')



select * from GRF_Filiais order by codigo

--***** GRF_Aprovacao_Tipos
insert into GRF_Aprovacao_Tipos(codigo,nome,descricao)
values(1,'Roland','')

insert into GRF_Aprovacao_Tipos(codigo,nome,descricao)
values(2,'GMS Externa','')

insert into GRF_Aprovacao_Tipos(codigo,nome,descricao)
values(3,'GMS Interna','')




select * from GRF_Aprovacao_Tipos

--***** GRF_Avaliacao_Tipos
insert into GRF_Avaliacao_Tipos(codigo,nome,descricao)
values(1,'Aprovado','')

insert into GRF_Avaliacao_Tipos(codigo,nome,descricao)
values(2,'Reprovado','')

insert into GRF_Avaliacao_Tipos(codigo,nome,descricao)
values(3,'Restrição','')

select * from GRF_Avaliacao_Tipos

--***** GRF_Interrupcao_Tipos
insert into GRF_Interrupcao_Tipos(codigo,nome,descricao)
values(1,'Retrabalho Cliente','')

insert into GRF_Interrupcao_Tipos(codigo,nome,descricao)
values(2,'Retrabalho Fornecedor','')

insert into GRF_Interrupcao_Tipos(codigo,nome,descricao)
values(3,'Ajuste Fábrica','')








select * from GRF_Interrupcao_Tipos

--***** GRF_Trabalhos_Tipos
insert into GRF_Trabalhos_Tipos(codigo,nome,descricao)
values(1,'Novo','')

insert into GRF_Trabalhos_Tipos(codigo,nome,descricao)
values(2,'Alteração','')

insert into GRF_Trabalhos_Tipos(codigo,nome,descricao)
values(3,'Correção','')

select * from GRF_Trabalhos_Tipos

--***** GRF_Trabalhos_Fases_Status_Tipos

/*
  Fluxo da mudança de fases através dos status
  --------------------------------------------
  Exemplo:
   FASE X 
      Ações Automáticas
	      (INICIADO)
          (TRABALHANDO) - Ao Inserir registro nas tabelas de manutenção das fases (GRF_Trabalhos_Fases_ManutN),
		                  mantendo este status durante qualquer tipo de alteração nas referidas tabelas (Inclusão/Manutenção).
	  
	  Ações Operador
	      (AGUARDANDO) 
		  (RETROCER)    - FASE Y = Repete Fluxo FASE X
		  (LIBERAR)     - FASE Z = Repete Fluxo FASE X
   FASE 2
*/

insert into GRF_Trabalhos_Fases_Status_Tipos(codigo,nome,tipo_acao,descricao,acao_operador,interrompe_lead_time)
values(1,'INICIADO','AUTOMÁTICO','Ação automática do sistema para indicar que o trabalho chegou em determinada fase.',0,0)

insert into GRF_Trabalhos_Fases_Status_Tipos(codigo,nome,tipo_acao,descricao,acao_operador,interrompe_lead_time)
values(2,'TRABALHANDO','AUTOMÁTICO','Ação automática do sistema para indicar que o trabalho recebeu manutenção em determinada fase.',0,0)

insert into GRF_Trabalhos_Fases_Status_Tipos(codigo,nome,tipo_acao,descricao,acao_operador,interrompe_lead_time)
values(3,'AGUARDANDO','AGUARDAR','Ação indicada pelo operador responsável por determinada fase, onde permite o congelamento do tempo de trabalho na fase.',1,1)







select * from GRF_Trabalhos_Fases_Status_Tipos

--***** GRF_Clientes

insert into GRF_Clientes(codigo,nome,nome_completo)
values(1,'Acroquima','') 

insert into GRF_Clientes(codigo,nome,nome_completo)
values(2,'AB Brasil','') 

insert into GRF_Clientes(codigo,nome,nome_completo)
values(3,'Agrocria','') 



















































































































